{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <img
        src="static/images/generals-quarters.png"
        class="img-fluid img-thumbnail mx-auto d-block room-image"
        alt="room image"
      />
    </div>
  </div>
  <div class="row">
    <h1 class="text-center mt-4">General's Quarters</h1>
    <p>
      Your home away from home, set on the majestic waters of the atlantic
      ocean, this will be a vacation you will never forget. Your home away from
      home, set on the majestic waters of the atlantic ocean, this will be a
      vacation you will never forget. Your home away from home, set on the
      majestic waters of the atlantic ocean, this will be a vacation you will
      never forget. Your home away from home, set on the majestic waters of the
      atlantic ocean, this will be a vacation you will never forget. Your home
      away from home, set on the majestic waters of the atlantic ocean, this
      will be a vacation you will never forget. Your home away from home, set on
      the majestic waters of the atlantic ocean, this will be a vacation you
      will never forget. Your home away from home, set on the majestic waters of
      the atlantic ocean, this will be a vacation you will never forget. Your
      home away from home, set on the majestic waters of the atlantic ocean,
      this will be a vacation you will never forget. Your home away from home,
      set on the majestic waters of the atlantic ocean, this will be a vacation
      you will never forget.
    </p>
  </div>
  <div class="row">
    <div class="col text-center">
      <a id="check-availability-button" href="#!" class="btn btn-success"
        >Check Availability</a
      >
    </div>
  </div>
</div>
{{ end }}

{{define "js"}}
<script>
  console.log("generals page");
</script>
{{ end }}
